---
export interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props as Props;
---

<li class="link-card">
  <a href={href}>
    <h2>
      {title}
      <span>&rarr;</span>
    </h2>
    <p>
      {body}
    </p>
  </a>
</li>
<style>
  :root {
    --link-gradient: linear-gradient(45deg, #4f39fa, #da62c4 30%, var(--color-border) 60%);
  }

  .link-card {}

  .link-card>a {}

  h2 {}

  p {}

  h2 span {}

  .link-card:is(:hover, :focus-within) {}

  .link-card:is(:hover, :focus-within) h2 {}

  .link-card:is(:hover, :focus-within) h2 span {}
</style>