<button type='button' aria-label='Switch theme' {...Astro.props}>
  <svg viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg" width="19" height="19">
    <path d="M3.5 2.5a1 1 0 110 2 1 1 0 010-2z" stroke="currentColor"></path>
    <path d="M11.5.5h-8a3 3 0 000 6h8a3 3 0 100-6zm0 12a1 1 0 110-2 1 1 0 010 2z" stroke="currentColor"></path>
    <path d="M3.5 14.5h8a3 3 0 100-6h-8a3 3 0 000 6z" stroke="currentColor"></path>
  </svg>
</button>

<style lang='scss'>
  button {
    --size: 1.5rem;
    height: var(--size);
    width: var(--size);
    background: transparent;
    cursor: pointer;
    display: grid;
    place-items: center;
    overflow: hidden;

    >svg {
      grid-area: 1/1;
      height: calc(var(--size) * 0.75);
      width: calc(var(--size) * 0.75);
    }

    &:hover {
      background: hsl(0 0% 50% / 0.3);
    }
  }
</style>