@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-tamarillo: 128 34 33;
    --color-wepeep: 253 247 247;
    --color-karaka: 28 19 9;
    --color-merino: 250 246 240;
    --color-meinsk: 49 46 129;
    --color-tallpoppy: 176 43 66;
    --color-beautybush: 235 173 181;
    ---color-purpleheart: 141 43 176;
    --color-tarawera: 8 70 94;
    --color-narvik: 236 249 243;
  }
}

:root {
  --color-text: theme('colors.karaka');
  --color-background: theme('colors.merino');
}
:root[color-mode='dark'] {
  --color-text: theme('colors.merino');
  --color-background: theme('colors.karaka');
}
:root[color-mode='beryl'] {
  --color-text: theme('colors.tamarillo');
  --color-background: theme('colors.beautybush');
}

html,
body {
  @apply antialiased h-full;
  background-color: var(--color-background);
  color: var(--color-text);
}

html {
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  @apply overflow-y-scroll;
}

:where(.container) {
}

.container > * {
  grid-column: col-start / span 12;
}

h1 {
}

h2 {
}

h3 {
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

p,
ul,
ol,
dl,
h6 {
}

pre {
  /* overflow-x: auto; */
}

pre > code {
  /* display: grid; */
}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > .line::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

:where(code, kbd, samp, pre) {
}

section > *:last-child,
section > *:last-child > *:last-child,
section > *:last-child > *:last-child > *:last-child {
  /* margin: 0; */
}

article > header {
  /* margin-bottom: var(--size-9); */
}

ul {
  /* list-style: none;
  padding: 0;
  display: flex;
  gap: 20px; */
}

@media (width >=768px) {
  /* :where(.container) {
    gap: var(--lg-grid-spacing);
    padding: var(--lg-grid-spacing);
  } */
}

@media (prefers-color-scheme: dark) {
  pre[data-theme='light'],
  code[data-theme='light'] {
    display: none;
  }
}

@media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
  pre[data-theme='dark'],
  code[data-theme='dark'] {
    display: none;
  }
}
