@import './styles/fonts.css';
@import './styles/fluid.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-tamarillo: 128 34 33;
    --color-wepeep: 253 247 247;
    --color-ebb: 237 231 231;
    --color-woodsmoke: 22 24 29;
    --color-merino: 250 246 240;
    --color-wildsand: 245 245 245;
    --color-meinsk: 49 46 129;
    --color-tallpoppy: 176 43 66;
    --color-beautybush: 235 173 181;
    ---color-purpleheart: 141 43 176;
    --color-tarawera: 8 70 94;
    --color-narvik: 236 249 243;
  }
}

:root {
  --color-text: theme('colors.woodsmoke');
  --color-text-rgb: var(--color-woodsmoke);
  --color-background: theme('colors.zinc.50');
  --color-border: theme('colors.stone.300');
  --color-tint: rgb(var(--color-woodsmoke) / 0.15);
}
:root[color-mode='dark'] {
  --color-text: theme('colors.ebb');
  --color-text-rgb: var(--color-ebb);
  --color-background: theme('colors.woodsmoke');
  --color-tint: rgb(var(--color-ebb) / 0.15);
}
:root[color-mode='beryl'] {
  --color-text: theme('colors.tamarillo');
  --color-background: theme('colors.beautybush');
  --color-tint: rgb(var(--color-tamarillo) / 0.15);
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  @apply antialiased h-full;
  background-color: var(--color-background);
  color: var(--color-text);
}

html {
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  @apply overflow-y-scroll;
}

:where(.container) {
}

.container > * {
  grid-column: col-start / span 12;
}

ul,
ol {
  list-style-position: outside;
  margin: 0;
}

nav span {
  color: rgb(var(--color-text-rgb) / 0.7);
}
nav span.active {
  color: rgb(var(--color-text-rgb) / 0.9);
}

pre {
  @apply pb-4;
  overflow-x: auto;
}

pre > code {
  @apply p-4;
  display: grid;
}

code[data-line-numbers] {
  counter-reset: line;
}

code[data-line-numbers] > .line::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

:where(code, kbd, samp, pre) {
}

section > *:last-child,
section > *:last-child > *:last-child,
section > *:last-child > *:last-child > *:last-child {
  /* margin: 0; */
}

div[data-rehype-pretty-code-fragment] {
  @apply rounded-xl dark:bg-slate-700/20 border dark:border-neutral-50/20;
}

.rehype-code-title {
  @apply px-4 rounded-t-xl  dark:bg-slate-700/20 dark:text-wepeep border-x border-t dark:border-neutral-50/20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 50px;
}
.rehype-code-title + div[data-rehype-pretty-code-fragment] {
  @apply rounded-t-none;
}

@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.15, 1.15, 1.15);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes flipInX {
  from {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    animation-timing-function: ease-in;
    opacity: 0;
  }

  40% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    opacity: 1;
  }

  80% {
    transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
  }

  to {
    transform: perspective(400px);
  }
}

@media (prefers-color-scheme: dark) {
  pre[data-theme='light'],
  code[data-theme='light'] {
    display: none;
  }
}

@media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
  pre[data-theme='dark'],
  code[data-theme='dark'] {
    display: none;
  }
}
